@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');
h1,h2,h3{
    font-family: 'Sarabun', sans-serif;
}
p{
    font-family: 'Alegreya', serif;
}
*{margin: 0;padding:0 ;}
body{
    background-color: #f1f1f1;
}
section{
    margin-bottom: 30px;
    overflow: hidden;
}
/* --------------------
    header style 
-----------------------*/
header{
    margin-bottom: 60px;
    margin-top: 40px;
}
.conteinar{
    width: 1100px;
    margin: auto;
}
.headercontent{
    display: flex;
    align-items: center;
    justify-content: space-between
}
.headerinfo{
    width: 65%;
    padding: 10px;
}
.headerinfo h1 {
    font-size: 52px;
    font-weight: 900;
    line-height: 70px;
}
.headerinfo p{
    width: 90%;
    padding: 15px 0px;
    font-weight: 600;
}
button{
    background: #fb6106; 
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
   
}
button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: larger;
}
i.fas.fa-arrow-right {
    padding-left: 8px;
    color: white;
}
.headerimg{
    width: 50%;
    background: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    height: 475px;   
}
.headerimg img{
    width: 440px;
    height: 414px;
    margin: auto;
    padding: 20px;
}
/*------------------
    Logo style 
------------------ */
.logoborder{
    width: 80%;
    border-top: 1px solid rgb(209 209 209);
    margin: auto;
    border-bottom: 1px solid rgb(209 209 209);
    padding: 10px 0px;
}
.logo{
    display:flex;
    justify-content: space-around;
    margin: auto;
}
/*---------------------------------------------
        Products list and informtion style
-----------------------------------------------*/
.popular-product{
    text-align: center;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 40px;
    color: #3A3A3A;
}
.allproducts{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    width: 88%;
    margin: auto;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}
.product{
    width: 300px;
    height: 490px;
    background-color: #ffff;
}
.prosuct-banar {
    padding: 15px 13px;
}
.prosuct-banar img{
    width: 275px;
    height: 253px;
    border-radius:10px ;
}
.product-info {
    padding: 0px 10px;
}
.product-info h2{
    font-size: 35px;
}
.product-info h3{
    padding: 10px 0px;
}
.product-ratting{
    display: flex;
    color: #fb6106;
}
.product-ratting span{
    color: #000000db;
    font-size: 16px;
    padding-left: 15px;
    font-weight: 900;
}
.product-info p{
    font-size: 20px;
    padding: 10px 0px;
}
h3.seemore {
    float: right;
    width: 195px;
    padding: 15px 0px;
    color: mediumvioletred;
    font-size: 22px;
}
#seemore i{
    color: mediumvioletred;
    font-size: 18px;
}
/*-----------------------------
    My own section Style
----------------------------- */
#my-own{
    background-image: url(images/fortpolio.jpg);
    height: 500px;
}
.prodcast-detail{  
    width: 80%;  
    height: 250px;
    margin: auto;   
    text-align: center;
    margin-top: 140px;
}
.prodcast-detail h1 {
    font-size: 32px;
    font-weight: 900;
    color: white;
}

.prodcast-detail p {
    color: white;
    font-size: 25px;
    padding: 25px 0px;
}

.prodcast-detail input {
    padding: 10px 50px;
    border-radius: 5px;
}

.prodcast-detail button {
    font-size: 22px;
    color: black;
    background-color: rgb(255, 204, 204);
    font-weight: 900;
    margin-top: 40px;
}
/*-------------------
    Footer Style
------------------- */
footer{
    background-color: #001130;
    color: white;
    height: 250px;
}
.footer-conteinar{
    width: 30%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.footerinfo{

}
.footerinfo h1{
    font-size: 30px;
    padding: 8px 0px;
}
.footerinfo p{
    font-size: 20px; 
    line-height: 30px;
}
.footer-icon {
    font-size: 30px;
    padding: 15px 0px;
}
.footer-icon i{
    padding: 0px 5px;
}
/*--------------------
    Media Queries
------------------- */
/* 
    MQ For Mobile Devices 
    */

@media only screen and (max-width:688px){
    
    .conteinar{
        width: 100%;
    }
    .headercontent{
        flex-direction: column-reverse;
        align-items: center;
    }
    .headerinfo{
        width: 100%;
        text-align: center;
    }
    .headerimg{
        width: auto;
        height: auto;
    }
    .headerimg img{
      width: 100%;
    }
    .logoborder{
        width: fit-content;
    }
    .logo{
        display: flex;
        flex-wrap: wrap;
        row-gap: 15px;
        
    }
    .allproducts{
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
    .popular-product{
        margin-top: 0px;
    }
    .prodcast-detail{
        width: 100%;
        margin-top: 0px;
    }
    .prodcast-detail h2{
        color: black;
    }
}
